<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculatrice</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div>

    <h1>Calculatrice</h1>

    <div th:switch="${error}">
        <p th:case="'InputFormatError'">
            Wrong input - both inputs must be numbers
        </p>

        <p th:case="'DivisionByZeroError'">
            Cannot divide by zero
        </p>

        <p th:case="'OperationFormatError'">
            Wrong operation
        </p>
    </div>

    <form th:action="@{/convert}" method="get">
        <table>

            <tr>
                <td>
                    <label for="input1">Input 1:</label>
                </td>
                <td>
                    <input name="input1"
                           id="input1"
                           th:name="input1"
                           th:value="${input1}">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="input2">Input 2:</label>
                </td>
                <td>
                    <input name="input2"
                           id="input2"
                           th:name="input2"
                           th:value="${input2}">
                </td>
            </tr>

            <tr>
                <td>
                    <button type="submit"
                            name="operation"
                            value="+">
                        +
                    </button>
                </td>

                <td>
                    <button type="submit"
                            name="operation"
                            value="-">
                        -
                    </button>
                </td>

                <td>
                    <button type="submit"
                            name="operation"
                            value="*">
                        *
                    </button>
                </td>

                <td>
                    <button type="submit"
                            name="operation"
                            value="/">
                        /
                    </button>
                </td>
            </tr>

        </table>
    </form>

    <p class="result">
        Result: <span th:text="${result}"></span>
    </p>

</div>
</body>
</html>